<div class="my-3">
    <template v-if="tasks.length > 0">

        <template v-if="taskByStatus('new').length > 0">
            <h3 class="mt-3">New tasks</h3>
            <task-item v-for="(task, index) in taskByStatus('new')" :task="task" :key="'new' + index"></task-item>
        </template>

        <template v-if="taskByStatus('in_progress').length > 0">
            <h3 class="mt-3">In progress tasks</h3>
            <task-item v-for="(task, index) in taskByStatus('in_progress')" :task="task" :key="'progress' + index"></task-item>
        </template>

        <template v-if="taskByStatus('completed').length > 0">
            <h3 class="mt-3">Completed tasks</h3>
            <task-item v-for="(task, index) in taskByStatus('completed')" :task="task" :key="'completed' + index"></task-item>
        </template>

        <template v-if="taskByStatus('canceled').length > 0">
            <h3 class="mt-3">Canceled tasks</h3>
            <task-item v-for="(task, index) in taskByStatus('canceled')" :task="task" :key="'canceled' + index"></task-item>
        </template>

    </template>
    <h3 v-else>No tasks</h3>
    <notifications></notifications>
</div>
